{% extends "accounts/base.html" %}

{% block title %}Password Changed{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center">Your password was changed successfully</h3>
    </div>
  </div>
</div>
<div class="card-footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="d-grid gap-2">
          <a href="{% url 'homepage' %}" class="btn btn-outline-secondary btn-block">Return to homepage</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}