{% extends "accounts/base.html" %}

{% block title %}
    User profile
{% endblock title %}

{% block body %}
    {% if messages %}
        <div class="col-12">
            <ul class="list-unstyled mb-5">
                {% for message in messages %}
                    <li class="alert alert-info">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">

                <div class="card-header card-title text-center">
                    <img src="{{ user.avatar }}" alt="User Avatar">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                </div>
                {% if user.is_dev == False %}
                    <div class="card-body">
                    <div class="mb-5">
                        <span class="fw-bold">Email: </span>
                        <a>{{ user.email }}</a>
                    </div>
                {% endif %}
                </div>
                {% if user.is_dev == True %}
                    <div class="card-body">
                    <div class="mb-5 mt-3">
                        {{ programmer.description }}
                    </div>
                    <div class="mb-3">
                        <span class="fw-bold">Experience:</span>
                        <h4 class="fw-bold {% if programmer.experience == 'Junior' %}junior{% elif programmer.experience == 'Mid' %}mid{% else %}senior{% endif %}">{{ programmer.experience }}</h4>
                    </div>
                    <div class="technologies mb-3">
                        <span class="fw-bold">Programming Languages:</span>
                        {% for language in programmer.programming_languages %}
                            <span class="badge bg-success ms-2">{{ language }}</span>
                        {% empty %}
                            <span class="fw-italic">No languages listed</span>
                        {% endfor %}
                    </div>
                    <div class="technologies mb-3">
                        <span class="fw-bold">Frameworks:</span>
                        {% for framework in programmer.tech_stack %}
                            <span class="badge bg-secondary ms-2">{{ framework }}</span>
                        {% empty %}
                            <span class="fw-italic">No frameworks listed</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <span class="fw-bold">Wage [PLN/H]:</span> {{ programmer.wage }}
                    </div>

                    <div class="mb-3">
                        <span class="fw-bold">Portfolio:</span> <a
                            href="{{ programmer.portfolio }}">{{ programmer.portfolio }}</a>
                    </div>
                    {% if programmer.phone != None %}
                        <div class="mb-3">
                            <span class="fw-bold">Phone: </span>
                            <a>{{ programmer.phone }}</a>
                        </div>
                    {% endif %}
                    <div class="mb-5">
                        <span class="fw-bold">Email: </span>
                        <a>{{ programmer.user_id.email }}</a>
                    </div>
                {% endif %}
                <div class="mb-4 text-center">
                    <div class="d-grid gap-2">
                        <a href="{% url 'upload_avatar' user.id %}" class="btn btn-outline-info">Upload
                            new avatar</a>
                        <a href="{% url 'update_user' user.id %}"
                           class="btn btn-outline-success">Edit user profile</a>
                        {% if user.is_dev == True %}
                            <a href="{% url 'programmer_update_model_form' programmer.id %}"
                               class="btn btn-outline-warning">Edit programmer profile</a>
                            <a href="{% url 'programmer_delete_confirm' programmer.id %}"
                               class="btn btn-outline-danger">Delete programmer profile</a>
                        {% else %}
                            <a href="{% url 'programmer_create_form' %}"
                               class="btn btn-outline-dark">Create programmer profile</a>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock body %}