{% extends "accounts/base.html" %}
{% load stars %}
{% load static %}

{% block title %}
    Deleting programmer
{% endblock title %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header card-title text-center">
                        <img src="{{ programmer.user_id.avatar }}" alt="User Avatar">
                        <h3>{{ programmer.user_id.first_name }} {{ programmer.user_id.last_name }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="fw-bold">Description:</span> {{ programmer.description }}
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">Wage [PLN/H]:</span> {{ programmer.wage }}
                        </div>
                        <div class="rating">
                            <span class="fw-bold">Rating:</span>
                            {{ programmer.average_rating|get_rating_stars|safe }}

                            <span class="ratings"> {{ programmer.count }} rating(s)</span>
                        </div>
                        <br>
                        <div class="mb-3">
                            <span class="fw-bold">Experience:</span> {{ programmer.experience }}
                        </div>
                        <div class="technologies mt-3">
                            <span class="fw-bold">Programming Languages:</span>
                            {% for language in programmer.programming_languages %}
                                <span class="badge bg-success ms-2">{{ language }}</span>
                            {% empty %}
                                <span class="fw-italic">No languages listed</span>
                            {% endfor %}
                        </div>
                        <div class="technologies mt-2">
                            <span class="fw-bold">Frameworks:</span>
                            {% for framework in programmer.tech_stack %}
                                <span class="badge bg-secondary ms-2">{{ framework }}</span>
                            {% empty %}
                                <span class="fw-italic">No frameworks listed</span>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">Portfolio:</span> <a
                                href="{{ programmer.portfolio }}">{{ programmer.portfolio }}</a>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col-md-12">
                    <div class="card mb-12">
                        <div class="card-body">
                            <h5 class="card-title">Delete Programmer</h5>
                            <p>Do you want to
                                delete {{ programmer.user_id.first_name }} {{ programmer.user_id.last_name }}?</p>
                            <form method="POST" action="{% url 'programmer_delete_confirm' programmer.id %}">
                                {% csrf_token %}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-outline-danger">Yes</button>
                                </div>
                            </form>
                            <br>
                            <div class="d-grid gap-2">
                                <a href="{% url 'programmer_detail' programmer.id %}"
                                   class="btn btn-outline-secondary btn-block">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
