{% extends "accounts/base.html" %}

{% block title %}
    Update programmer
{% endblock title %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="card-title">Update programmer: <br>
                            {{ programmer.user_id.first_name }} {{ programmer.user_id.last_name }}</h4>
                    </div>
                    {% if messages %}
                        <div class="col-12">
                            <ul class="list-unstyled mb-5">
                                {% for message in messages %}
                                    <li class="alert alert-info">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}

                    <form class="mb-4" action="/programmers/update/{{ programmer.id }}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-4">
                                    <label for="description" class="form-label">Description:</label>
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-4">
                                    <label for="experience" class="form-label">Experience:</label>
                                    {{ form.experience }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-4">
                                    <label for="programming_languages" class="form-label">Programming Languages:</label>
                                    {{ form.programming_languages }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-4">
                                    <label for="tech_stack" class="form-label">Frameworks:</label>
                                    {{ form.tech_stack }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-4">
                                    <label for="wage_min" class="form-label">Wage [PLN/H]:</label>
                                    {{ form.wage }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-4">
                                    <label for="portfolio" class="form-label">Portfolio:</label>
                                    {{ form.portfolio }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-4">
                                    <span class="ratings"> *optional</span><br>
                                    <label for="portfolio" class="form-label">Phone:</label>
                                    {{ form.phone }}
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary">Update Programmer</button>
                        </div>

                    </form>
                    <div class="card-footer text-center">
                        <div class="d-grid gap-2">
                            <a href="{% url 'my_profile' user.id %}"
                               class="btn btn-outline-secondary btn-block">Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}