{% extends "accounts/base.html" %}

{% block title %}
    Update programmer
{% endblock title %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="card-title">Update programmer:
                            {{ programmer.user_id.first_name }} {{ programmer.user_id.last_name }}</h4>
                    </div>
                    {% if messages %}
                        <div class="col-12">
                            <ul class="list-unstyled mb-5">
                                {% for message in messages %}
                                    <li class="alert alert-info">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST" action="{% url 'programmer_update_model_form' programmer.id %}">
                            <div class="mb-4">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="description" class="form-label fw-bold">Description:</label>
                                            {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="experience" class="form-label fw-bold">Experience:</label>
                                            {{ form.experience }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="programming_languages" class="form-label fw-bold">Programming
                                                Languages:</label>
                                            {{ form.programming_languages }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="tech_stack" class="form-label fw-bold">Tech stack:</label>
                                            {{ form.tech_stack }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="wage" class="form-label fw-bold">Wage [PLN/H]:</label>
                                            {{ form.wage }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3">
                                            <label for="portfolio" class="form-label fw-bold">Portfolio:</label>
                                            {{ form.portfolio }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <span class="phone"> *optional</span><br>
                                            <label for="portfolio" class="form-label fw-bold">Phone:</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid ">
                                    <button type="submit" class="btn btn-outline-primary">Update Programmer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="d-grid">
                            <a href="{% url 'my_profile' user.id %}"
                               class="btn btn-outline-secondary btn-block">Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
