.modal-header h5 {
    text-align: center;
    color: #ffffff;
    margin: 5px;
}

.popup {
    font-family: sans-serif;
    position: absolute;
    top: -150%;
    right: -100%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 240px;
    padding: 20px 30px;
    background: #3D3D3D;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 200ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    right: -6%;
    top: 175%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition:top 0ms ease-in-out 0ms,
               opacity 200ms ease-in-out 200ms,
               transform 200ms ease-in-out 0ms;

}

.popup .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-options{
    text-align: center;
}

#yes-button, #no-button {
    display: inline-block;
    width: 40%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 12px;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.modal-options a.button {
    display: inline-block;
    width: 40%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 12px;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}