{% load static %}

.navbar {
    background-color: #3D3D3D;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}



.navbar-brand {
    font-weight: 500;
    color: aquamarine;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #696969;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #808080;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link, .offcanvas-header, .offcanvas-title, .offcanvas-body {
    color: #ffffff;
    background-color: #3D3D3D;
    font-weight: 500;
    position: relative;
}


.nav-link:hover, .nav-link.active {
    color: #000;
}


@media (min-width: 991px) {
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link:active::before {
    width: 100%;
    visibility: visible;
    }
}


#hero-section{
     background: url("../images/background.jpg") no-repeat center;
     background-size: cover;
    width: 100%;
     }
#hero-section::before{
     background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     }

#hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}


